.level1{padding: 0 0 0 0;}
.level2{padding: 0 0 0 10px;}
.level3{padding: 0 0 0 20px;}

/*项目列表*/
.project_list{padding: 2%; float: left;}
.project_list a{float: left;}
.project_box{height: 100px; width: 300px; border: 1px solid #5e5e5e; margin: 10px; padding: 5px;}
.project_box .title{font-size: 16px; line-height: 20px;  color:#2b669a;}
.project_box .sub{font-size: 12px; line-height: 15px;}
.project_box .add{font-size: 50px; line-height: 100px; text-align: center;}

