{extend name="base/base" /}
{block name="title"}管理文档{/block}
{block name="sub_title"}api管理&nbsp;&nbsp;<small><a href="{:url('/project/menu',['project_id'=>$project_info.id])}"><button type="button" class="btn btn-info">菜单管理</button></a>  <a href="{:url('/project/info',['id'=>$project_info.id,'page_id'=>$page_id])}"><button type="button" class="btn btn-success">查看</button></a></small>{/block}
{block name="content"}
<div class="col-md-12">

    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">API 名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="API 名称" value="{$page_info.title|default=''}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="descrition" class="col-sm-2 control-label">API 描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="descrition" name="descrition" placeholder="API 描述">{$api_info.info.descrition|default=''}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">API URI(如 user/login )</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="uri" name="uri" placeholder="API URI" value="{$api_info.info.uri|default=''}" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Method</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="method" id="method1" value="post"
                        <?php
                            if(isset($api_info['info']['method']) && $api_info['info']['method']=='post'){
                                echo 'checked';
                            }
                            if(!isset($api_info['info']['method'])){
                                echo 'checked';
                            }
                        ?>
                        >
                        POST
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="method" id="method2" value="get"
                        <?php
                            if(isset($api_info['info']['method']) && $api_info['info']['method']=='get'){
                                echo 'checked';
                            }
                        ?>
                        >
                        GET
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="remark" name="api_remark" placeholder="备注">{$api_info.info.remark|default=''}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">入参
            <p><button name="add" type="button" class="btn btn-info">添加字段</button></p>
            </label>
            <div class="col-sm-10">
                <table class="table table-bordered" id="table_field">
                    <tr>
                        <th width="25%">字段名称</th>
                        <th width="20%">是否必填</th>
                        <th width="20%">类型</th>
                        <th width="25%">备注</th>
                        <th width="10%">操作</th>
                    </tr>
                    {volist name="api_info.request" id="request"}
                    <tr id="{$request.id}">
                        <td>
                            <input type="text" class="form-control" id="param_{$request.id}" name="param[{$request.id}]" placeholder="字段名称" value="{$request.param}">
                        </td>

                        <td>
                            <div class="radio">
                                <label>
                                        <input type="radio" name="is_must[{$request.id}]" id="is_must_{$request.id}1" value="1"
                                        <?php
                                            if($request['is_must']=='1'){
                                                echo 'checked';
                                            }
                                        ?>
                                        >
                                        必填
                                    </label>
                            </div>
                            <div class="radio">
                                <label>
                                        <input type="radio" name="is_must[{$request.id}]" id="is_must_{$request.id}0" value="0"
                                        <?php
                                            if($request['is_must']=='0'){
                                                echo 'checked';
                                            }
                                        ?>
                                        >
                                        非必填
                                    </label>
                            </div>
                        </td>

                        <td>
                            <div class="radio">
                                <label>
                                        <input type="radio" name="type[{$request.id}]" id="type_{$request.id}1" value="string"
                                        <?php
                                            if($request['type']=='string'){
                                                echo 'checked';
                                            }
                                        ?>
                                        >
                                        string
                                    </label>
                            </div>
                            <div class="radio">
                                <label>
                                        <input type="radio" name="type[{$request.id}]" id="type_{$request.id}0" value="int"
                                        <?php
                                            if($request['type']=='int'){
                                                echo 'checked';
                                            }
                                        ?>
                                        >
                                        int
                                    </label>
                            </div>
                        </td>

                        <td>
                            <input type="text" class="form-control" id="remark_{$request.id}" name="remark[{$request.id}]" placeholder="备注" value="{$request.remark}">
                        </td>
                        <td><button class="btn btn-danger" onclick="return confirm('确定删除改字段？')" name="delbtn" data-id="{$request.id}" type="button">删除</button></td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>

        <hr>
        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">返回json示例</label>
            <div class="col-sm-10">
                <textarea class="form-control" data-toggle="tooltip" data-trigger="click" data-placement="left" title="<h3>JSON字符串格式不正确</h3>" id="response" name="response" placeholder="返回json示例" rows="10">{$api_info.info.response|default=''}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="project_id" value="{$project_info.id}">
                <input type="hidden" name="page_id" value="{$page_id}">
                <input type="hidden" name="api_id" value="{$api_info.info.id}">
                <button type="submit" class="btn btn-success btn-block btn-lg">编辑文档</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var count = $("input[name='new_param[]']").length;
    $(document).ready(function() {
        $("button[name='add']").click(function() {
            //$('<tr><td><input type="text" class="form-control"  name="new_param[]" placeholder="字段名称" value=""></td><td><div class="radio"><label><input type="radio" name="new_is_must[' + count + ']"  value="1">必填</label></div><div class="radio"><label><input type="radio" name="new_is_must[' + count + ']"  value="0">非必填</label></div></td><td><div class="radio"><label><input type="radio" name="new_type[' + count + ']"  value="string">string</label></div><div class="radio"><label><input type="radio" name="new_type[' + count + ']"  value="int">int</label></div></td><td><input type="text" class="form-control"  name="new_remark[]" placeholder="备注" value=""></td></tr> ').insertAfter("tr[id='org']");
            $("#table_field tr").eq(-1).after('<tr id=newparam_id_' + count + '><td><input type="text" class="form-control"  name="new_param[]" placeholder="字段名称" value=""></td><td><div class="radio"><label><input type="radio" name="new_is_must[' + count + ']"  value="1">必填</label></div><div class="radio"><label><input type="radio" name="new_is_must[' + count + ']"  value="0">非必填</label></div></td><td><div class="radio"><label><input type="radio" name="new_type[' + count + ']"  value="string">string</label></div><div class="radio"><label><input type="radio" name="new_type[' + count + ']"  value="int">int</label></div></td><td><input type="text" class="form-control"  name="new_remark[' + count + ']" placeholder="备注" value=""></td><td><button class="btn btn-danger" onclick="delRow('+count+')" name="delNewbtn" data-newparam_id="' + count + '"  type="button">删除</button></td></tr>');
            count++;
            console.log(count)
        });

        $("button[name='delbtn']").click(function() {
            var trid = $(this).data('id');
            $("tr[id="+trid+"]").remove();
            htmlobj = $.ajax(
                {
                    url: "{:url('/project/delParam')}",
                    data:{
                        param_id:trid
                    },
                    async: false,
                    success:function(data,textStatus,jqXHR){
                        console.log(data)
                        console.log(textStatus)
                        console.log(jqXHR)
                    },
                }
            );
            return false;
        });

        $("button[name='delNewbtn']").click(function() {
            var newtrid = $(this).data('newparam_id');
            $("#newtrid"+rowIndex).remove();
            console.log(newtrid)
//            $("tr[id=newparam_id_"+trid+"]").remove();
            return false;
        });
    });

    function delRow(rowIndex){
        $("#newparam_id_"+rowIndex).remove();
        console.log(count)
    }
</script>
{/block}