{extend name="base/base" /}

{block name="title"}项目明细{/block}
{block name="sub_title"}{$project_info.project_name} <small>{$project_info.description}</small>{/block}

{block name="content"}
<link rel="stylesheet" type="text/css" href="__STATIC__/markdown/css/editormd.preview.min.css">

<script src="__STATIC__/markdown/lib/marked.min.js"></script>
<script src="__STATIC__/markdown/lib/prettify.min.js"></script>
<script src="__STATIC__/markdown/lib/raphael.min.js"></script>
<script src="__STATIC__/markdown/lib/underscore.min.js"></script>
<script src="__STATIC__/markdown/lib/sequence-diagram.min.js"></script>
<script src="__STATIC__/markdown/lib/flowchart.min.js"></script>
<script src="__STATIC__/markdown/lib/jquery.flowchart.min.js"></script>
<script src="__STATIC__/markdown/editormd.min.js"></script>

<div class="row">
    <div class="col-md-3">
        {include file="base/nav" /}
    </div>
    <div class="col-md-8">
        <h1>{$page_info.title|default=''} <small>创建人：{$article_info.author.realname}</small></h1>

        <blockquote>
            <p>{$article_info.info.description|default=''}</p>
        </blockquote>
        <hr>
        <div id="editormd-view">
            <textarea id="append-test" style="display:none;">
                {$article_info.info.content}
            </textarea>
        </div>

        </div>
</div>

<script type="text/javascript">
    $(function() {
        var testEditormdView;
        $.get("test.md", function(markdown) {
            testEditormdView = editormd.markdownToHTML("editormd-view", {
                markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                tocm            : true,    // Using [TOCM]
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
        });
    });
</script>

{/block}