{extend name="base/base" /}

{block name="title"}管理文档{/block}
{block name="sub_title"}文章管理 &nbsp;&nbsp;<small><a href="{:url('/project/menu',['project_id'=>$project_info.id])}">返回</a></small>{/block}

{block name="content"}
<link rel="stylesheet" type="text/css" href="__STATIC__/markdown/css/editormd.css">
<script src="__STATIC__/markdown/editormd.min.js"></script>


<div class="col-md-12">

    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">文章 名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="文章 名称" value="{$page_info.title|default=''}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description" placeholder="描述">{$article_info.info.description|default=''}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="editor" class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10" id="test-editormd">
                <hr>
                <textarea class="form-control" id="editor" name="content" placeholder="内容" cols="10" data-provide="markdown" >{$article_info.info.content|default=''}</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="project_id" value="{$project_info.id}">
                <input type="hidden" name="page_id" value="{$page_id}">
                <input type="hidden" name="db_id" value="{$article_info.info.id}">
                <button type="submit" class="btn btn-success btn-block btn-lg">编辑文档</button>
                <br>
                <a href="{:url('/tools/createdMDDbDoc')}" target="_blank">
                    <button type="button" class="btn btn-info btn-block">快捷获取数据字典（MD格式）</button>
                </a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd({
            id: "test-editormd",
            width: "100%",
            height: 340,
            path: "__STATIC__/markdown/lib/",
            toolbarIcons : function() {
                return editormd.toolbarModes['full']; // full, simple, mini
            },
            imageUpload:true,
            imageUploadURL: "{:url('/tools/upload')}",
        })
    });
</script>

{/block}