{extend name="base/base" /} {block name="title"}管理文档{/block} {block name="sub_title"}文章管理 &nbsp;&nbsp;<small><a href="{:url('/project/menu',['project_id'=>$project_info.id])}">返回</a></small>{/block} {block name="content"}
<link rel="stylesheet" type="text/css" href="__STATIC__/markdown/css/editormd.css">
<script src="__STATIC__/markdown/editormd.min.js"></script>


<div class="col-md-12">

    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">文章 名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="文章 名称" value="{$page_info.title|default=''}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description" placeholder="描述">{$article_info.info.description|default=''}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="editor" class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10">
                <hr>
                <div id="test-editormd">
                    <textarea class="form-control" id="editor" name="content" placeholder="内容" cols="10" data-provide="markdown">{$article_info.info.content|default=''}</textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">tags 管理</label>
            <input type="hidden" name="title" value="" id="tagsinput">
            <div class="col-sm-10">
                <div class="bootstrap-tagsinput">
                    <span class="tag label label-info" data-id="123">Amsterdam
                        <span data-role="remove"></span>
                    </span>
                    <span class="tag label label-info" data-id="124">Washington
                        <span data-role="remove"></span>
                    </span>
                    <div class="input-group-btn dropup">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API 
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu cus-drop">
                            <ul class="nav nav-pills nav-stacked cus-drop-well">
                                <!-- li -->
                                <li class="cus-drop-item active" role="presentation">
                                    <a href="#">Home</a>
                                    <div class="cus-drop-item-extra">
                                        <div class="row">
                                            <!-- col-md-3  -->
                                            <div class="col-md-3" data-id="132">.col-md-1</div>
                                            <div class="col-md-3" data-id="133">.col-md-1</div>
                                            <div class="col-md-3" data-id="134">.col-md-1</div>
                                            <div class="col-md-3" data-id="135">.col-md-1</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cus-drop-item" role="presentation">
                                    <a href="#">Profile</a>
                                    <div class="cus-drop-item-extra">
                                        <div class="row">
                                            <div class="col-md-3">.col-md-2</div>
                                            <div class="col-md-3">.col-md-2</div>
                                            <div class="col-md-3">.col-md-2</div>
                                            <div class="col-md-3">.col-md-2</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cus-drop-item" role="presentation">
                                    <a href="#">Messages</a>
                                    <div class="cus-drop-item-extra">
                                        <div class="row">
                                            <div class="col-md-3">.col-md-3</div>
                                            <div class="col-md-3">.col-md-3</div>
                                            <div class="col-md-3">.col-md-3</div>
                                            <div class="col-md-3">.col-md-3</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="project_id" value="{$project_info.id}">
                <input type="hidden" name="page_id" value="{$page_id}">
                <input type="hidden" name="db_id" value="{$article_info.info.id}">
                <button type="submit" class="btn btn-success btn-block btn-lg">编辑文档</button>
                <br>
                <a href="{:url('/tools/createdMDDbDoc')}" target="_blank">
                    <button type="button" class="btn btn-info btn-block">快捷获取数据字典（MD格式）</button>
                </a>
            </div>
        </div>
</div>
</form>
</div>

<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd({
            id: "test-editormd",
            width: "100%",
            height: 340,
            path: "__STATIC__/markdown/lib/",
            toolbarIcons: function() {
                return editormd.toolbarModes['full']; // full, simple, mini
            },
            imageUpload: true,
            imageUploadURL: "{:url('/tools/upload')}",
        })
    });
    $('.cus-drop-item').mouseenter(function(ev) {
        $(this).addClass('active').siblings('.cus-drop-item').removeClass('active');
    });
    $('.cus-drop-item-extra .row .col-md-3').click(function(ev) {
        var id = $(this).data('id');
        var str = '<span class="tag label label-info" data-id="' + id + '">' + $(this).text() + '<span data-role="remove"></span></span>';
        $('.bootstrap-tagsinput .input-group-btn').before(($(str)));
        var lists = $('.bootstrap-tagsinput .tag');
        var val = [];
        lists.each(function(index, item) {
            val.push($(item).data('id'));
        });
        if (!!~val.indexOf(id)) {
            val.push(id);
        }
        $('#tagsinput').val(val.join(','));

    });
    $('.bootstrap-tagsinput').delegate('.tag span', 'click', function(ev) {
        var span = $(this).parent('.tag');
        var id = $(span).data('id');
        span.remove();
        var lists = $('.bootstrap-tagsinput .tag');
        var val = [];
        lists.each(function(index, item) {
            val.push($(item).data('id'));
        });
        if (!!!~val.indexOf(id)) {
            val.splice(val.indexOf(id), 1);
        }
        $('#tagsinput').val(val.join(','));
    });
</script>

{/block}